@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Orbitron:wght@400;500;700;900&display=swap');

:root {
  --color-bg-primary: #050505;
  /* Deepest Black */
  --color-bg-secondary: #0a0a0a;
  --color-accent-primary: #10b981;
  /* Emerald 500 */
  --color-accent-glow: rgba(16, 185, 129, 0.4);
  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
.font-display {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.05em;
}

/* Hide Scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}